<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="icon" href="../../favicon.ico"> -->

	<title>Chatting Room</title>

	<link href="/css/room.css" rel="stylesheet">
	<link href="/css/chatty.css" rel="stylesheet">
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/chatty.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bahiana|Lobster|Pacifico|Barrio" rel="stylesheet" type="text/css">


</head>
<body class="room">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header navbar-custom">
				<a class="navbar-brand-custom navbar-brand " href="#" id = "roomName">{{name}}</a>
				<a class="navbar-return" href="/">
					<img src="/img/navbar-icon/return-white-small.png" />
				</a>
			</div>
		</div>
	</nav>

	<div class="chat-interface">
		<div class="messages">
			<!-- <div class="message-block">
				<div class="msg-content">
					Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. Discovery moonlight recommend all one not. Indulged to answered prospect it bachelor is he bringing
				</div>
				<img id="" class="" src="./img/profile-max.jpg" alt="">
				<div class="timestamp" id="">
					13:00
				</div>
			</div> -->
		</div>
	</div>


	<div class="message-box">
		<button class="message-submit"><img src="/img/send-small.png"/></button>
		<span class="input-box">
	    <input type="text" class="message-input" placeholder="Type message..."/>
		</span>
  	</div>
	</div><!-- /.chat-content -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/vendor/jquery.min.js"><\/script>')</script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/socket.io.js"></script>
	<script src="/js/room.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

  <!-- <script src="./room/jquery.min.js"></script> -->
  <!-- <script src="./room/jquery.ui.custom.js"></script> -->
  <!-- <script src="./room/unicorn.js"></script> -->
  <!-- <script src="./room/unicorn.chat.js"></script> -->
</body>
</html>
