.chatty-template {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.container-custom .chatty-template .row .description {
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 86%;
    padding-left: 10px;
    padding-right: 10px;
}
.row-test {
    margin-left: 2rem;
    margin-right: 2rem;
    display: table-cell;
    max-width: 48rem;
}
.program-img-box {
  width: 100%;
}
.program-img {
  width: 100%;
  max-width: 48rem;
}
.program-name, .channel-name {
  width: 50%
}
.description .program-name {
  margin-bottom: 0;
}
.time {
    width: 83%;
    display: inline-block;
}
.collect {
  display: inline-block;
}
#collect {
    /* float: right; */
    position: relative;
    bottom: 5px;
    right: 10px;
    width: 48px;
}
