body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.nav li {
  display: inline;
  text-align: center;
}
.nav li a {
  display: inline-block;
  width: 24%;

}
