
#roomName {
  font-family: none;
}
.bg-room {
  padding-top: 4.5rem;
}
/* send box*/
.sendBox {
  min-height: 10px;
  padding: 10px;
  background-color: #0D1D37;
  /*border: 1px solid #e3e3e3;*/
  /*border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.message-box {
  bottom: 0;
  position: fixed;
  /*margin-left: 2rem;*/
  max-width: 100%;
  height: 4.7rem;
  padding: 0.75rem 1.6rem 0.75rem 1.6rem;
  /*padding-left: 1.6rem;*/
  background: #0D1D37;
}
.input-box {
  /*width: 100%;*/
  width: 30px;
  padding-right: 4.2rem;
  height: 100%;
  display: block;
}
.input-box input {
  width: 100px;
  height: 100%;
  border-radius: 2px;
  border-style: none;
  padding-left: 1rem;
}
.message-box button {
  /*border: 0;*/
  /*padding: 0;*/
  right:1.5rem;
  position: absolute;
  width: 10%;
  max-width: 2.5rem;
  margin: auto;
  background-color: transparent;
  border: none;
  padding: 0.3rem 0 0.3rem 0;
}
.message-box button img{
  width: 100%;
  float: right;
}
.chat-interface {
  /*padding: 1.5rem;*/
  padding-top: 0.5rem;
}
.messages {
  word-break:break-all;
  padding: 1.5rem;
  padding-bottom: 47px;
}
.message-block {
  margin-bottom: 3rem;
}
/*.messages .message-block .msg-content::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(216, 216, 216, 0.4);
  left: 0;
  border-right: 7px solid transparent;
}*/

/*profile img*/
.messages .message-block img {
  display: inline-block;
  float: right;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-top: 6px;
  border-radius: 15px;
  bottom: 10px;
  position: relative;
}
.messages .message-block .msg-content{
  background: rgba(216, 216, 216, 0.4);
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border: 1px solid #777;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin-right: 40px;
  padding: 7px;
  position: initial;
  color: #F5F5F5;
}

.messages .message-block .timestamp {
  margin-top: 5px;
  margin-right: 2px;
  float: left;
  font-size: 1.1rem;
  color: white;

}

.messages .message-block .username{
  margin-top: 2px;
  margin-right: 12px;
  float: right;
  font-size: 1.1rem;
  color: #bbb2b2;

}


.message-inverse {
  margin-bottom: 3rem;
}

/*.messages .message-inverse .msg-content::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(216, 216, 216, 0.4);
  left: 0;
  border-right: 7px solid transparent;
}*/

/*profile img*/
.messages .message-inverse img {
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-top: 6px;
  border-radius: 15px;
  bottom: 10px;
  position: relative;
}
.messages .message-inverse .msg-content{
  background: #efefa9;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border: 1px solid #777;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  display: block;
  margin-left: 40px;
  padding: 7px;
  position: initial;
  color: #733939;
}

.messages .message-inverse  .timestamp {
  margin-top: 5px;
  margin-right: 2px;
  float: right;
  font-size: 1.1rem;
  color: white;
}



.messages .message-inverse  .username {
  margin-top: 2px;
  margin-right: 12px;
  float: left;
  font-size: 1.1rem;
  color: #bbb2b2;

}
